<h2>Crear Mascota</h2>

<form action="/Mascota/CrearMascota" method="post">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre de su mascota" name="nombre">
  </div>
  <div class="form-group">
    <label for="fecha">Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="fecha" name="fechaNacimiento">
  </div>
  <div class="form-group">
    <label for="pais">País de Nacimiento</label>
    <select class="form-control" name="paisNacimiento" id="pais">
      <option value="Ecuador">Ecuador</option>
      <option value="Peru">Peru</option>
      <option value="Colombia">Colombia</option>
    </select>
  </div>
  <div class="form-group">
    <label for="raza">Raza</label>
    <select class="form-control" name="idRaza" id="raza">
      <% for(var i = 0; i < razas.length; i++){ %>
      <option value="<%= razas[i].id %>">
        <%= razas[i].nombre %>
      </option>
      <% } %>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Crear Mascota</button>
</form>
