  /* NombreTag { Propiedad:valorPropiedad; .. } */
  
  html {
      background-color: crimson;
  }
  
  body {
      background-color: aqua;
  }
  
  h1 {
      background-color: firebrick;
  }
  
  p {
      background-color: chartreuse;
  }
  
  cualquiera {
      background-color: cornflowerblue;
  }
  /* Clases: .nombreClase {} */
  
  .nombreClaseRojo {
      background-color: red;
  }
  
  .nombreClaseAzul {
      background-color: blue;
  }
  
  .nombreClaseAmarillo {
      background-color: yellow;
  }
  /* Por ID */
  
  #parrafoVerde {
      background-color: deeppink;
  }