<h2>Crear Raza</h2>

<form action="/Raza/CrearRaza" method="post">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre de la raza" name="nombre">
  </div>
  <button type="submit" class="btn btn-success">Crear Raza</button>
</form>
