<h1>{{title}}</h1>
<div class="container">
  <form (ngSubmit)="crearTienda(NuevaTiendaForm)" #NuevaTiendaForm="ngForm">
    <div class="form-group">
      <label for="nombreTienda">Nombre Tienda</label>
      <input type="text"
             id="nombreTienda"
             name="nombre"
             class="form-control"
             placeholder="Ingrese un nombre de tienda como Adidas"
             [(ngModel)]="nuevaTienda.nombre">
    </div>
    <button class="btn btn-block btn-success">Crear Tienda</button>
  </form>
</div>
