<div style="background-color:white;color:black">
    <h1>Home</h1>
    <%var numero1=1;%>
    
    <% var arregloMascota = [
        {
            nombre: 'Adrian'
        },
        {
            nombre: 'Vicente'
        },
        {
            nombre: 'Eguez'
        }
    ];
    %>
    
    <h2><%= mauricio.nombre%> - <%= mauricio.cedula%> - <%= numero1%></h2>
    
    <% for (var i=0; i<arregloMascota.length; i++) {%>
    
        <h3><%= arregloMascota[i].nombre %></h3>
    <%} %>
</div>