<h1>{{title}}</h1>
<h2>{{error}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <pre class="animated slideInUp">{{nuevaTienda | json}}</pre>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form class="animated bounceIn" (ngSubmit)="crearTienda(NuevaTiendaForm)" #NuevaTiendaForm="ngForm">
        <div class="form-group">
          <label for="nombreTienda">Nombre Tienda</label>
          <div class="animated slideInUp" [hidden]="!nombre.errors">
            <span class=" bg-primary" *ngIf="nombre.errors && (nombre.dirty || nombre.touched)">Ingrese un nombre con mínimo 4 caracteres</span>
          </div>
          <input type="text"
                 required
                 id="nombreTienda"
                 name="nombre"
                 minlength="4"
                 class="form-control"
                 placeholder="Ingrese un nombre de tienda como Adidas"
                 [(ngModel)]="nuevaTienda.nombre"
                 #nombre="ngModel"
                 #nombreElm>
        </div>
        <button class="btn btn-block btn-success"
                type="submit"
                [disabled]="disabledButtons.NuevaTiendaFormSubmitButton || !NuevaTiendaForm.valid">Crear Tienda
        </button>
      </form>
    </div>
    <div class="col-sm-6">
      <h1>{{nuevaTienda.nombre}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12" *ngFor="let tienda of tiendas">
      <br>
      <h3>{{tienda.nombre}}</h3>
      <p>ID: {{tienda.id}}</p>
      <div class="row animated flipInY" [hidden]="!tienda.formularioCerrado">
        <div class="col-sm-4">
          <button class="btn btn-block btn-danger" (click)="borrarTienda(tienda.id)">Borrar</button>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-block btn-info" (click)="tienda.formularioCerrado = !tienda.formularioCerrado">Actualizar</button>
        </div>
        <div class="col-sm-4 text-center">
          <a [routerLink]="[tienda.id,'productos']">Ir a Productos</a>
        </div>
      </div>
      <br>
      <div class="row" [hidden]="tienda.formularioCerrado">
        <div class="col-sm-12">
          <form class="animated bounceIn" (ngSubmit)="actualizarTienda(tienda)" #ActualizarTiendaForm="ngForm">
            <div class="form-group">
              <label for="nombreTienda">Nombre Tienda</label>
              <div class="animated slideInUp" [hidden]="!nombre.errors">
                <span class=" bg-primary" *ngIf="nombre.errors && (nombre.dirty || nombre.touched)">Ingrese un nombre con mínimo 4 caracteres</span>
              </div>
              <input type="text"
                     required
                     id="nuevoTienda"
                     name="nombre"
                     minlength="4"
                     class="form-control"
                     placeholder="Ingrese un nombre de tienda como Adidas"
                     [(ngModel)]="tienda.nombre"
                     #nombre="ngModel"
                     #nombreElm>
            </div>
            <button class="btn btn-block btn-success"
                    type="submit"
                    [disabled]="disabledButtons.NuevaTiendaFormSubmitButton || !ActualizarTiendaForm.valid">Actualizar
              Tienda
            </button>
            <button type="button" class="btn btn-block btn-warning" (click)="tienda.formularioCerrado = !tienda.formularioCerrado">Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

